<!-- Toolbar -->
<div class="toolbar justify-content-center" role="banner">
  <span>MonsterBox</span>
</div>
<div>
    <p-toast styleClass="custom-toast" key="deviceresponse" position="center" life="500"></p-toast>
</div>
<div class="container h-100" role="main">
  <div class="row text-center">
    <div class="col-12">
      <div *ngIf="MonsterBox_IsConnected">
        {{deviceEndPoint}}
      </div>
      <div *ngIf="!MonsterBox_IsConnected">
        <input type="text" pInputText placeholder="hostname" class="" [(ngModel)]="deviceControllerHostName">
      </div>
    </div>
    <div class="col-12" *ngIf="!MonsterBox_IsConnected">
      <button pButton type="button" label="Connect" class="ui-button-raised ui-button-primary "
        (click)="clickedConnect()"></button>
    </div>
    <div class="col-12" *ngIf="MonsterBox_IsConnected">
      <button pButton type="button" label="Start" class="ui-button-raised ui-button-success "
        [disabled]="!MonsterBox_IsConnected"
        (click)="clickedStart()"></button>
    </div>
    <div class="col-12" *ngIf="MonsterBox_IsConnected">
      <button pButton type="button" label="Stop" class="ui-button-raised ui-button-danger "
        [disabled]="!MonsterBox_IsConnected"
        (click)="clickedStop()"></button>
    </div>    
  </div>
  <div class="row text-center" *ngIf="MonsterBox_IsConnected">
    <div class="col-12">
      <h6>Delay Time Low</h6>
      <p-spinner 
      [disabled]="!MonsterBox_IsConnected"
      [(ngModel)]="delaytimelow" 
      (ngModelChange)="changeDelayTimeLow($event)" [min]="50" [max]="100"></p-spinner>
    </div>
  </div>
  <div class="row text-center" *ngIf="MonsterBox_IsConnected">
    <div class="col-12">
      <h6>Delay Time High</h6>
      <p-spinner       
      [disabled]="!MonsterBox_IsConnected"
      [(ngModel)]="delaytimehigh" 
      (ngModelChange)="changeDelayTimeHigh($event)" [min]="200" [max]="400"></p-spinner>
    </div>
  </div>
  <div class="row text-center" *ngIf="MonsterBox_IsConnected">
    <div class="col-12">
      <h6>Repetitions Low</h6>
      <p-spinner 
      [disabled]="!MonsterBox_IsConnected"
      [(ngModel)]="repetitionslow" 
      (ngModelChange)="changeRepetitionsLow($event)" [min]="5" [max]="10"></p-spinner>
    </div>
  </div>
  <div class="row text-center" *ngIf="MonsterBox_IsConnected">
    <div class="col-12">
      <h6>Repetitions High</h6>
      <p-spinner 
      [disabled]="!MonsterBox_IsConnected"
      [(ngModel)]="repetitionshigh" 
      (ngModelChange)="changeRepetitionsHigh($event)" [min]="10" [max]="20"></p-spinner>
    </div>
  </div>
  <!-- Footer -->
  <footer>    
  </footer>
</div>